<body>
  <header>
    <div>
      <div class="title yellow">star</div>
      <div class="title yellow">wars</div>
    </div>
  </header>
  <div class="flex justify-content-space-between aling-items padding">
    <div class="white" style="font-size: 24pt;">
      <a routerLink="/initial-page" style="text-decoration: none; color: #81D4FA"><span>Home</span></a><span> /
        Species</span>
    </div>
    <div>
      <span *ngFor="let in of counter(); let i = index"><button
          (click)="getSpeciesPage(i+1)">{{i+1}}</button>&nbsp;</span>
    </div>
  </div>
  <div class="flex justify-content-center" style="background-color: black;">
    <mat-card class="example-card" *ngFor="let species of speciesList">
      <mat-card-header>
        <h2>{{species.name}}</h2>
      </mat-card-header>
      <img mat-card-image [src]="modificarUrlImgSpc(species)">
      <mat-card-actions>
        <button mat-button (click)="getSpeciesInfo(species)">+ INFO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</body>