<body>
  <header>
    <div>
      <div class="title yellow">star</div>
      <div class="title yellow">wars</div>
    </div>
  </header>
  <div class="view-container">
    <div class="flex">
      <div class="category">
        <a routerLink="/people-list">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image" src="https://starwars-visualguide.com/assets/img/categories/character.jpg">
              <span class="category-title red display-block jedi-font">Characters</span>
            </div>
          </div>
        </a>
      </div>
      <div class="category">
        <a routerLink="/films-list">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image" src="https://starwars-visualguide.com/assets/img/categories/films.jpg">
              <span class="category-title yellow display-block jedi-font">Films</span>
            </div>
          </div>
        </a>
      </div>
      <div class="category">
        <a routerLink="/species-list">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image" src="https://starwars-visualguide.com/assets/img/categories/species.jpg">
              <span class="category-title red display-block jedi-font">Species</span>
            </div>
          </div>
        </a>
      </div>
      <div class="category">
        <a routerLink="/starships-list">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image" src="https://starwars-visualguide.com/assets/img/categories/starships.jpg">
              <span class="category-title white display-block jedi-font">Starships</span>
            </div>
          </div>
        </a>
      </div>
      <div class="category">
        <a routerLink="/vehicles-list">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image" src="https://starwars-visualguide.com/assets/img/categories/vehicles.jpg">
              <span class="category-title blue display-block jedi-font">vehicles</span>
            </div>
          </div>
        </a>
      </div>
      <div class="category">
        <a routerLink="/planets-list">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image" src="https://starwars-visualguide.com/assets/img/categories/planets.jpg">
              <span class="category-title yellow display-block jedi-font">Planets</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
